<!DOCTYPE html>
<html>

<head>
  <title>Ask Cali Demo</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script
    type="module"
    src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js"
  ></script>
</head>

<body>
  <header>
    <h1>Ask Cali</h1>
  </header>
  <section>
    <aside style="width: var(--width-card-wide); cursor: pointer;" id="description_slide">
      <p><strong>About</strong> (click to show/hide)</p>
      <ul id="description" style="display: none;">
        <li>
        Ask Cali is a tool that leverages Large Language Models to search through the Academic Calendar for sections relevant
        to a query.
        </li>
        <li>
        As an experimental feature, it also uses Generative AI to generate a response to your query, given the sections of
        the Calendar as context.
        </li>
        <li>There is the potential for bias and/or inaccuracy with the generative feature, so please use it with caution.</li>
      </ul>
    </aside>
  </section>
  <section>
    <aside style="width: var(--width-card-wide); cursor: pointer;" id="instructions_slide">
      <p><strong>Instructions and Suggestions</strong> (click to show/hide)</p>
      <div id="instructions" style="display: none;">
        <zero-md>
          <script type="text/markdown">{{instructions}}</script>
        </zero-md>
      </ul>
    </aside>
  </section>
  <div id="content" style="justify-content: center; display: flex;">
    <form action="/answer" method="post">
      <p><strong>Note:</strong> Do not submit any personal or sensitive information through this form </p>

      <input type="text" id="faculty" name="faculty" list="faculty_list" placeholder="All Faculties" style="width: 50%;">
      <datalist id="faculty_list">
        {% for faculty in faculties.keys() %}
        <option value="{{faculty}}">{{faculty}}</option>
        {% endfor %}
      </datalist>

      <input type="text" id="program" name="program" list="program_list" placeholder="All Programs" style="width: 50%;">
      <datalist id="program_list">
        {% for faculty in faculties.keys() %}
        {% for program in faculties[faculty]['programs'].keys() %}
        <option value="{{program}}" data-faculty="{{faculty}}" disabled hidden>{{program}}</option>
        {% endfor %}
        {% endfor %}
      </datalist>

      <input type="text" id="specialization" name="specialization" list="specialization_list" placeholder="All Specializations" style="width: 50%;">
      <datalist id="specialization_list">
        {% for faculty in faculties.keys() %}
        {% for program in faculties[faculty]['programs'].keys() %}
        {% for specialization in faculties[faculty]['programs'][program]['specializations'].keys() %}
        <option value="{{specialization}}" data-program="{{program}}" disabled hidden>{{specialization}}</option>
        {% endfor %}
        {% endfor %}
        {% endfor %}
      </datalist>

      <input type="text" id="year" name="year" list="year_list" placeholder="All Years" style="width: 50%;">
      <datalist id="year_list">
        {% for year in ["First Year","Second Year","Third Year","Fourth Year","Fifth Year"] %}
        <option value="{{year}}">{{year}}</option>
        {% endfor %}
      </datalist>

      <label 
        for="topic" 
        title="Eg. 'Second year specialization application', 'academic concessions', etc.">
        What is the topic of your question?
        <i class="fa fa-question-circle" style="font-size:18px"></i>
        </label>
      <textarea id="topic" name="topic" cols="40" rows="1"></textarea>

      <label for="question">Enter your question:</label>
      <textarea id="question" name="question" cols="40" rows="5"></textarea>
      <input id="submit" type="submit" value="Submit" , style="padding: 10px" />
    </form>
  </div>
  <script type="text/javascript">
    // <![CDATA[
    function preloader() {
      submit = document.getElementById("submit")
      submit.addEventListener('click', function () {
        submit.classList.add("loading");
      }, false);

      $('#faculty').on('change', function () {
        $("#program").val('');
        value = this.value
        $("#program_list option").each(function () {
          if (this.value === "All Programs") {
            // pass
          }
          else if (this.dataset["faculty"] === value) {
            this.disabled = false
            this.hidden = false
          } else {
            this.disabled = true
            this.hidden = true
          }
        });
      });

      $('#program').on('change', function () {
        $("#specialization").val('');
        value = this.value
        $("#specialization_list option").each(function () {
          if (this.value === "All Specializations") {
            // pass
          }
          else if (this.dataset["program"] === value) {
            this.disabled = false
            this.hidden = false
          } else {
            this.disabled = true
            this.hidden = true
          }
        });
      });

      $("#faculty").val('The Faculty of Science');
      $('#faculty').trigger('change');

      $("#program").val('Bachelor of Science');
      $('#program').trigger('change');
    }

    window.onload = preloader;
    $(document).ready(function () {
      $('#description_slide').click(function () {
        $('#description').slideToggle(1000);
      });
      $('#instructions_slide').click(function () {
        $('#instructions').slideToggle(1000);
      });
    });

    // ]]>
  </script>
</body>

</html>