pandas
flask
flask-session
gunicorn
langchain
langchain-aws
langchain-community
sentence-transformers
faiss-cpu
networkx
python-dotenv
flask[async]
boto3
psycopg2-binary
pgvector
sshtunnel
text_generation