pandas
flask
gunicorn
langchain
langchain-aws
langchain-community
sentence-transformers
faiss-cpu
networkx
python-dotenv
flask[async]
pinecone-client 
pinecone-text
boto3
psycopg2-binary
pgvector
sshtunnel
text_generation