# General requirements
boto3
huggingface_hub 
transformers
langchain==0.0.308
pandas
sentence-transformers
python-dotenv
sshtunnel

# PGVector requirements
pgvector
psycopg2-binary

# Pinecone requirements
pinecone-client
pinecone-text
